.App {
  text-align: center;
}

.App-logo {
  height: 9vmin;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-container {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  padding: 150px 80px 150px 80px;
}

.App-header {
  background-image: url("./images/lockerroom.png");
  border: 1px solid black;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-login {
  background-image: url("./images/blueLockerRoom.png");
  border: 1px solid black;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.heading {
  color: #000;
  font-size: 50px;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 2px solid;
}

li {
  float: left;
}

li p {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 28px;
  text-decoration: none;
  color: #0000008a;
}

li p:hover {
  background-color: #111;
  color: white;
}

.menu {
  color: black;
  text-align: center;
  padding: 14px 16px;
}

.menuItemRight {
  float: right;
  font-weight: bold;
}

.menuItemCentre {
  margin-left: 28%;
  font-weight: bold;
  padding: 14px 50px;
  font-size: 26px;
}

.menuItemLeft {
  padding-left: 9px;
}

.LPButton {
  background-color: white;
  color: black;
  border: 2px solid #000;
  padding: 10px 35px 10px 35px;
  font-size: 20px;
}

.LPButton:hover {
  background-color: blue; 
  color: white;
}

p.loginHeading {
  float: left;
  margin: 0px;
}

.loginEntry {
  float: left;
  background-color: black;
  color: white;
  border-radius: 14px;
  font-size: 21px;
}

.Mud-avatar{
  height: 70vmin;
}

h2.question {
  color: #0000008a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coach-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coach-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5A6275;
  margin-top: 50px;
  width: 50vw;
}

.coach-text {
  height: 20vh;
  width: 40vw;
  margin: 20px;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#button {
  background-color: white;
  border: none;
  color: #5A6275;
  font-weight: 600;
  font-size: 19px;
}
